html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
.thing, .thingy {
	background: white;
}
.thing {
	float: left;
	width: 10px;
	height: 100%;
	cursor: col-resize;
}
.thingy {
	height: 10px;
	cursor: row-resize;
}
#HTMLEditor, #JavascriptEditor, #CSSEditor, #result {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid black;
	/* box-shadow: 0 0 10px #777 inset; */
}
#HTMLEditor {
	margin: 10px 0 0 10px;
}
#JavascriptEditor {
	margin: 0 0 10px 10px;
}
#CSSEditor {
	margin: 10px 10px 0 0;
}
#result {
	margin: 0 10px 10px 0;
}
#output {
	width: 100%;
	height: 100%;
	border: 0;
}
.pane {
	position: relative;
}
.pane {
	/* border: 1px solid black; */
}
/* {
	-webkit-user-select: none;
}*/
.toolbar {
	height: 50px;
	background: -webkit-linear-gradient(top, hsl(330,100%, 51%) 0%, hsl(330,100%, 41%) 100%);
}
.toolbar button {
	margin-top: 10px;
	padding: 5px;
	height: 30px;
	color: white;
	font-weight: bold;
	border: 1px solid hsl(330,100%, 31%);
	background: -webkit-linear-gradient(top, hsl(330,100%, 71%) 0%, hsl(330,100%, 67%) 100%);

}
.sidebar {
	width: 150px;
	height: 100%;
	background: white;
	float: left;
}